# Core functionality - changes here should be rare!
/src/app.py                   @Biogrammator
/src/backend/database.py      @Biogrammator
/src/backend/routers/auth.py  @Biogrammator

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Biogrammator
